# --- Simulation Binaries & Outputs ---
soc_sim
*.vvp
*.vcd
*.fst
*.hier
a.out
*.log

# --- Specific Build Files ---
sim/waves.fst
sim/program.hex

# --- Instruction/Data Memory Files ---
# (Ignore if you want to keep your simulations private/local)
# *.hex
# *.mem

# --- Compilation & Tool Artifacts ---
ivlflags
*.vpi

# --- Documentation & Diagrams ---
draws/
.*.drawio.bkp
*.drawio.bkp

# --- OS & Editor Specific ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db